<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>WELCOME TO ANGULAR WEB</h1>
                <h2> Tutorial introduces you to the essentials of Angular by walking you through building a simple e-commerce site with a catalog, shopping cart, and check-out form.</h2>
            </div>

            <!--Call to Action-->
            <a href="#" class="button">Click for more details</a>
            <!--End Call to Action-->

        </div>

    </div>
    <!--End of Row-->
</header>